#myVideo {
  //position: ;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 70%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 1;
  left:5;
  color: #f1f1f1;
  width: 70%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#playBtn #pauseBtn #p2Btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgb(234, 238, 17);
  color: rgb(143, 7, 70);
  cursor: pointer;
}

#myBtn:hover  {
  background: #ddd;
  color: black;
}
